# Dépendances Node
node_modules/
npm-debug.log
yarn-error.log
package-lock.json

# Builds et caches Angular
dist/
.angular/
out-tsc/
tmp/

# Fichiers d'environnement locaux (si existants)
.env
.env.*

# Fichiers système et IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store

# Fichiers de test
coverage/
*.spec.ts

# Docker
Dockerfile
.dockerignore
docker-compose.yml