# API Configuration (FastAPI)
API_PORT=8000

# Frontend Configuration
FRONTEND_PORT=4200

# Milvus Configuration
MILVUS_HOST=milvus_host
MILVUS_PORT=19530

# MinIO Configuration
MINIO_ROOT_USER=miniouser
MINIO_ROOT_PASSWORD=miniopassword


# --- Services ---
## General
FEN_EXAMPLE=r1bqkbnr/pppp1ppp/2n5/1B2p3/4P3/5N2/PPPP1PPP/RNBQK2R b KQkq - 3 3

## Lichess
LICHESS_API_URL=https://explorer.lichess.org/
LICHESS_API_KEY=liches_api_key

## Stockfish
STOCKFISH_API_URL=https://stockfish.online/api/s/v2.php
STOCKFISH_DEPTH=5

## youtube
YOUTUBE_API_KEY=youtube_api_key
YOUTUBE_API_URL=https://www.googleapis.com/youtube/v3/search

## Mistral AI
MISTRAL_API_KEY=mistral_api_key